@charset "utf-8";

img {
    width: 20%;
    text-align: left;
    margin-left: 50px;
}

article {
    text-align: left;
    display: block;
    margin-left: 100px;
}

li {
    display: inline;
    
}

ul {
    
    display: inline;
}