@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}
/*Body Styles*/
body, html {
    height: 100%;
    width: 100%;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: #E4EBEC;
}

/*Footer Styles*/
footer {
    border: 2px solid white;
    background: rgb(193,6,53);
    background: radial-gradient(circle, rgba(193,6,53,1) 0%, rgba(208,208,179,1) 94%);
    }
    
    h1 {
        color: white;
        text-decoration: underline;
    }