@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap');

* {
    box-sizing: border-box;
}

/*Header Styles*/

.container {
    display: grid;
    align-items: center;
}

li {
    float: left;
}

li#mainway a {
    text-decoration: dashed;
    color: antiquewhite;
    border-radius: 2%;
    text-decoration: wavy;
    color: #ffffff;
    font-family: 'Pixelify Sans', sans-serif;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ff9375;
}

ul {   
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

/*Body Styles*/
body, html {
    height: 100%;
    width: 100%;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: #E4EBEC;
}

/*Timer Styles*/

div#dateNow {
    text-align: center;
    padding: 1em;
    font-family: "Lucida Grande", "Lucida Sans Unicode", 
    "DejaVu", Verdana, sans-serif;
}

div#countdown {
    text-align: center;
    font-family: "Lucida Grande", "Lucida Sans Unicode", 
    "DejaVu", Verdana, sans-serif;
}


/*Calendar Styles*/

#calendar_table {
    background-color: rgb(231, 231, 231);
    font-size: 0.9em;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "DejaVu", Verdana, sans-serif;
    width: 75%;
    margin-left: 235px;
    margin-bottom: 20px;
    box-shadow: rgb(51, 51, 51) 0px 0px 1px,
                rgb(51, 51, 51) 0px 0px 5px,
                rgb(51, 51, 51) 0px 0px 10px,
                rgb(51, 51, 51) 0px 0px 20px;
}

#calendar_table caption {
    caption-side: top;
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.6em;
    letter-spacing: 0.3em;
}

#calendar_table td {
    border: solid 1px;
}

.calendar_weekdays {
    background-color: ivory;
    width: 14.28%;
    font-size: 1em;
    border-bottom: 3px solid gray;
}

.calendar_dates {
    text-align: left;
    vertical-align: top;
    font-size: 0.8em;
    padding: 3px;
    background-color: white;
    height: 60px;
}

#calendar_today {
    font-weight: bold;
    color: rgb(51, 51, 51);
    background-color: rgb(251, 203, 176);
    border: 1px solid black;
}


/*Footer Styles*/

footer {
    border: 2px solid #C10635;
    background: linear-gradient(90deg, rgba(193,6,53,1) 0%, rgba(208,208,179,1) 94%);
    bottom: 0;
    left: 0;
    padding: 14px 16px;
    
    }
    
    h2, h3 {
        color: white;
        text-decoration: underline;
    }
    
    .address ul {
        text-decoration: underline;
        color: white;
        padding: 2px;
    }
    
    
    
    .contact p {
    color: white;
    text-align: start;
    }
