@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

/* Body and HTML */
html {
    height: 100%;
    width: 100%;
   
    background-color: rgb(36, 32, 32);
    
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.726);
}


/* Image style*/

img {
    height: 350px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid #C10635;
}

/* Header Styles*/

.topnav {
    background-color: #C10635;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: white;
    
    padding: 14px 16px;
    text-decoration: underline;
    font-size: 14px;
    
}



.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #C10635;
}

.topnav {
   height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 16px;
    text-align: center;
    display: block;
   
}

@media screen and (max-height: 450px) {
    .topnav {padding-top: 15px;}
    .topnav a {font-size: 18px;}
}



/* Header text */

.text-block {
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0, 0.4);
   color: white;
   font-weight: bold;
   font-size: 14px;
   border: 8px solid #C10635;
   position: fixed;
   top: 20%;
   left: 50%;
   transform: translate(-50%, -50%);
  
   width: 300px;
   padding: 20px;
   text-align: center;

    text-anchor: middle;
}


/*Paragraph styles */

p {
    color: white;
    font-size: 16px;
    text-align: center;
}

/* Event Styles */

.events {
    border-bottom: 2px solid black;
    border-radius: 2px;
}

/* Tickets Styles */

b {
    border: 2px solid black;
    padding: 2px;
}

.select {
    padding: 10px;
}

/*First Form Styles*/

.f-form {
 width: 360px;
height: 350px;
margin: 20px;
border: 1px solid #C10635;
border-radius: 6px;
background-color: #D0D0B3;
box-shadow: 1px 2px 3px 0 rgba(0,0,0,.10);
margin-left: 100px;
}

.f-header{
    height: 60px;
    padding: 20px 30px 0;
    border-bottom: 1px solid;
    font-size: 18px;
}

label {
    font-size: 18px;
    margin: 0;
    color: black;
    padding: 20px 30px 0;
    text-decoration: underline;
    float: left;
}

select {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
    width: 145px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid #C10635;
    border-radius: 6px;
    
}




/* Contact Form Styles*/

.credit-cards {
width: 360px;
height: 350px;
margin: -370px auto 0;
border: 1px solid #C10635;
border-radius: 6px;
background-color: #D0D0B3;
box-shadow: 1px 2px 3px 0 rgba(0,0,0,.10);
float: right;
margin-right: 100px;
}

.form-header {
    height: 60px;
    padding: 20px 30px 0;
    border-bottom: 1px solid;
}

.form-body {
    height: 340px;
    padding: 30px 30px 20px;
}

.title {
    font-size: 18px;
    margin: 0;
    color: black;
}

.card-number,
.cvv-input input,
.month select,
.year select {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px;
}

.card-number,
.month select,
.year select {
    font-size: 14px;
    font-weight: 100;
    line-height: 14px
}

.card-number,
.cvv-details,
.cvv-input input,
.month select,
.year select {
    opacity: .7;
    color: black;
}

.card-number {
    width: 100%;
    margin-bottom: 20px;
    padding-left: 20px;
    border-bottom: 2px solid black;
    border-radius: 6px;
    
}

.month select,
.year select {
    width: 145px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid black;
    border-radius: 6px;
}

.month select {
    float: left;
}

.year select {
    float: right;
}

.cvv-input input {
    float: left;
    width: 145px;
    padding-left: 20px;
    border: 2px solid black;
    border-radius: 6px;
    background: #E4EBEC;
}

.cvv-details {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    float: right;
    margin-bottom: 20px;
}

.cvv-details p {
    margin-top: 6px;
}



/*Nav Styles*/

li {
    display: inline;
    
}

ul {
    
    display: inline;
}

/*Footer Styles*/


footer {
border: 2px solid #C10635;
background: rgb(193,6,53);
background: linear-gradient(90deg, rgba(193,6,53,1) 0%, rgba(208,208,179,1) 94%);
bottom: 0;
left: 0;
padding: 14px 16px;

}

h2, h3 {
    color: white;
    text-decoration: underline;
}

section ul {

}
