@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap');

/* Tanner did CSS */

/* Body, Full Content */
.container {
    display: grid;
    align-items: center;
}

container#full {
    border: #000000;
    border-radius: 30px;
    background-color: #D0D0B3;
}


/* Images */

img#build {
    display: block;
    width: 12.5%;
    margin-left: 2%;
}

img#holo {
    display: block;
    width: 12.5%;
    margin-right:2%;
    margin-bottom: 2%;
}

/* Text */

div#body {
    display: flex;
    text-align: center;
    font-size: x-large;
    margin-bottom: 1%;
    margin-top: 2%;
}

div#body-2 {
    display: flex;
    text-align: center;
    font-size: x-large;
    margin-bottom: 2%;
}

article {
    text-align: left;
    display: block;
    margin-left: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

li {
    float: left;
}

li#mainway a {
    color: #ffffff;
    font-family: 'Pixelify Sans', sans-serif;
    color: rgb(255, 255, 255);
    border-right: solid white;
    text-align: center;
    padding: 14px 16px;
    display: block;
}

li#header a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: solid white
}

li a:hover {
    background-color: #ff9375;
}

ul {   
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

header nav ul {
    font-size: x-large;
    background-color: #992f2f;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}   

hr {
    color: #000000;
    background-color: #000000;
    height: 1px;
    width: 100%;
}

/*Footer Styles*/


footer {
    border: 2px solid #C10635;
    background: rgb(193,6,53);
    background: linear-gradient(90deg, rgba(193,6,53,1) 0%, rgba(208,208,179,1) 94%);
    bottom: 0;
    left: 0;
    padding: 14px 16px;
    text-anchor: start;
    
    }
    
    h2, h3 {
        color: white;
        text-decoration: underline;
    }
    
    .address ul {
        text-decoration: underline;
        color: white;
        padding: 2px;
    }
    
    
    
    .contact p {
    color: white;
    text-align: start;
    }
